footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 10px;
    text-align: center;
}


.logofooter{
    align-self: flex-end;
    height: 100px;
    margin-bottom: 0%;
}


.footersection{
     margin: 50px;
     margin-left: 500px;
}
.nombres{
    font-family: 'Work Sans', sans-serif;
    color: white;

}