.bloque{
    width: auto;
    font-family: 'Work Sans', sans-serif;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 10px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    height: fit-content;

};

